@using Cattion.Models
@model Cattion.Models.Cats
@{

    {
        ViewBag.Title = "CatDetail";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

    <h2 style="padding-bottom:50px; font-size:80px; font-style:oblique; color:rgb(239, 139, 139)" >@Model.name</h2>
        <div>

             <div"><img src=@Model.imagepath style="width:50%;height:50%;margin-right:auto;display:block;margin-left:auto" ></div>

        
    </div>
        





